<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>
  window.mf_logo = "<%= image_path("logo.png") %>"
  window.f_req_logo = "<%= image_path("f-request-icon.svg") %>"
  window.f_mess_logo = "<%= image_path("f-messenger-icon.svg") %>"
  window.f_notif_logo = "<%= image_path("f-notifications-icon.svg") %>"
</script>

<main id="root"></main>
